@import "bourbon";
@import "common/common";
.filterbar-component {
  position: relative;
  @include size(100% $aside-search-bar-height);
  .section {
    @include column(.333333);
    height: 100%;
    position: relative;
    .component {
      @include position(absolute, 50% auto auto auto);
      @include center(y);
    }

    &.title {
      h2 {
        padding-left: rem(20);
      }
    }

    &.filters {
      .component {
        @include position(absolute, 50% auto auto 50%);
        @include transform(translateX(-50%) translateY(-50%));
      }
      ul {
        @include size(250px auto);
        li {
          display: inline-block;
          font-weight: 500;
          padding-right: rem(10);
          &:first-child {
            margin-right: rem(10);
            border-right: 1px solid black;
          }
        }
      }
    }

    * {
      color: $colour-copy;
    }
  }
}
