// colors

$color-1: RGBA(17, 23, 29, 1);
$color-2: RGBA(206, 76, 74, 1); // Red Damask
$color-3: #f0ca4d; // Ronchi
$color-4: #ffffff; // White
$color-5: #46b29d; // Keppel


// Colours
$colour-site-background: #13171a;
$colour-text-highlighted: #DD2234;
$colour-link-active: #4C1A0F;
$colour-copy: #222;

// fonts
$primary-font: 'Work Sans', sans-serif;

// layou
$aside-search-bar-height: 110px;
